rules_version = "2";

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null
    }

    function isPhotosAdmin() {
      return isAuthenticated() &&
        request.auth.token.get("photosAdmin", false) == true
    }

    match /cameras/{cameraId} {
      allow read: if true;
      allow write: if isPhotosAdmin();
    }

    match /lenses/{lensId} {
      allow read: if true;
      allow write: if isPhotosAdmin();
    }

    match /tags/{tagId} {
      allow read: if true;
      allow write: if isPhotosAdmin();
    }
  }
}
